html {
  font-family:'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.2;
}

body {
  margin: 0;
}

img {
  /* width: 100%; */
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  font-weight: bolder;
}

nav ul {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 3em;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-weight: lighter;
  font-size: 2.4em;
  text-align: center;
}

p {
  font-weight: 300;
}


.home-background-image {
  background-image: url("/images/andrejs-picks.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.filmmakers-background-image {
  background-image: url("/images/filmmakers.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.musicians-background-image {
  background-image: url("/images/musicians.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.visual-artists-background-image {
  background-image: url("/images/visual-artists.jpg");
  width :100%;
  height: 100vh;
  background-size: cover;
}

.lars-von-trier {
  border-bottom: 0.5px solid grey;
}

.david-lynch {
  border-bottom: 0.5px solid grey;
}

.darren-aronofsky {
  border-bottom: 0.5px solid grey;
}

.nicolas-winding-refn {
  border-bottom: 0.5px solid grey;
}


.artist-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.left-artist-image {
  width: 100%;
  grid-column: 1/-1;
}

.right-artist-image {
  width: 100%;
  grid-column: 1/-1; 
}

.artist-text {
  grid-column: 1/-1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
}

.artist-text2 {
  grid-column: 1/-1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
}

.visual-artist-text-right {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.visual-artist-text-left {
  grid-column: 1/1;
  grid-row: 1/-1;
}


.visual-artist-text-right, .visual-artist-text-left, .title-left, .title-right {
  color: white;
  align-self: end;
  margin-bottom: 5em;

}

.title-left, .title-right {
  font-size: 5em;
  margin: 0;
  padding-bottom: 1em;
  
}

.title-left {
  grid-column: 1/3;
  grid-row: -1/1;
  
}



.music-content-area {
  height: 100vh;
}

.musician-text {
  max-width: 400px;
  margin: auto;
  padding-top: 5em;
}

#death-grips-content {
  padding-top: 9em;
}

#tim-hecker-content {
  padding-top: 9em;
}

.visual-artist-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.visual-artist-grid img {
  
}

footer div {
  height: 40vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

}

footer div img {
  width: 10%; /*look into this after*/
}


@media only screen and (min-width: 70em) {

  .artist-grid {
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
  }

  .visual-artist-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .left-artist-image {
    grid-column: 1/6;
  }

  .right-artist-image {
    grid-column: 4/-1; 
  }

  .musician-image {
    width: 100%;
  }

  .visual-artist-image {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }


  .artist-text {
    grid-column: 6/-1;
    max-width: 400px;
  }

  .artist-text2 {
    grid-column: 1/4;
    grid-row: 1/1;
    max-width: 400px;
  }

  .visual-artist-text-right {
    grid-column: 4/4;
    grid-row: 1/1;
    padding-right: 2em;
  }

  .artist-text p:last-child {
    margin-bottom: 2em;
  }

  .artist-text2 p:last-child {
    margin-bottom: 2em;
  } 

  

  footer div img {
    width: 5%; 
  }

}
