html {
  font-family:'Helvetica Neue', sans-serif;
  color: white;
  scroll-behavior: smooth;
  line-height: 1.4;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
}


.home-background-image {
  background-image: url("/images/andrej\'s-picks.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
}


